%h1 Listing studios

%table
  %tr
    %th Name
    %th Address
    %th

  - @studios.each do |studio|
    %tr
      %td= studio.name
      %td= studio.address
      %td= link_to 'Calendar', studio_path(studio, :format => :ics)

%br

